<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Projects</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body>
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded container">
      <h3 class="card-header" style="background-color: #eee; font-weight: bold">
        {{tag_name}}
      </h3>
     
    </div>
  </body>
</html>
</body>
</html>